/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    button {
        background-color: rgb(230, 230, 230);
        padding: 8px 12px;
        margin: 2px;
        border-radius: 8px;
    }
}